/* PAGINA */
html, body{
	height: 100%;
}

.btn-icon{
	position: absolute;
	top: 14px;
	right: 14px;

	color: #000;
}

/* LOGIN */
.cont-data{
	display: grid;
	justify-content: center;
	align-items: center;
}

.form{
	background-color:white;
	border-radius: 10px;
	box-shadow: 8px 8px 10px 4px grey;

	width:520px;
	padding: 12px;
}

fieldset{
	border: 0px;

	display: grid;
	gap: 14px;
}
fieldset > p{
	text-align: center;
	font-size: 18px;

	margin-top: -10px;
}

.cont-title{
	text-align: center;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.cont-title > img{
	width: 60px;
}
.cont-title > h1{
	font-size:40px;

	margin-left: -60px;
}


/* Insermento credenziali */
.cont-inserisci{
	color: lightgrey;

	display: grid;
	align-items: center;
}
.cont-inserisci > i{
	position: absolute;
	font-size: 30px;
	margin-left: 14px;
}

.inserisci{
	border:2px solid lightgrey;
	border-radius: 10px;

	font-size: 24px;

	height: 35px;
	padding: 14px;
	padding-left: 54px;
}
.inserisci:hover{
	border-color: darkgoldenrod;
}
.inserisci:focus{
	outline-color: gold;
}

#icon_lock{
	cursor: pointer;
}


/* Bottoni */
.cont-button{
	display: grid;
	grid-template-areas: 
		"primo primo"
		"secondo terzo";
	grid-auto-columns: 1fr;
	gap: 10px;
}
.btn{
    border: 0px;
	border-radius: 10px;

    font-size:18px;
}

.btn-accedi{
	grid-area: primo;
	background-color: #C4282B;

	color:white;
	font-family: Mustica;
	font-size: 26px;
	letter-spacing: 4px;

	padding: 16px;
	cursor: pointer;
}
.btn-pwd{
	grid-area: secondo;
	background-color:white;
	text-decoration:underline;
}
.btn-registrati{
	grid-area: terzo;
	background-color:#FEED00;

	color: #000;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;

	padding: 20px;
}

.btn-accedi:hover, .bottone:hover{
	box-shadow: inset 0 0 10px 3px #FEED00;
}
.btn-registrati:hover, .cancella:hover{
	box-shadow: inset 0 0 10px 1px orangered;
}


/* REGISTRATI */
.grid-col-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}


.cont-signup{
	padding: 20px;
}

#signup{
	font-size: 20px;

	display: grid;
	gap: 20px;
}

.cont-inserisci > label{
	color: #000;
	padding: 8px;
}

.in_data{
	padding: 8px;
}

.caselle{
	display: flex;
	justify-content: space-evenly;
	padding: 4px;
}

.in_classe{
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 12px;
}
.in_classe > input{
	width: 100px;
}

.select{
	background: none;
	appearance: none;
	-webkit-appearance: none;

	height: auto;
	min-width: 62px;
    z-index: 2;
}

.cont-select{
	position: relative;
}
.cont-select > i{
	color: #000;
	font-size: 22px;
    
	right: 12px;
	z-index: 1;
}

.cont-select-class{
	border: 2px dashed #FEED00;

	color: #000;

	display: grid;
	gap: 8px;
	height: fit-content;
	padding: 8px;
}
.cont-select-class > div{
	align-items: center;
	cursor: move;
}
.cont-select-class > div > i{
	font-size: 20px;
	justify-self: right;
}

hr{
	border: 0px;
	border-top: 4px dotted #C4282B;
	margin: 20px 0px;
}

/* Bottoni */
.bottone{
	background-color: #C4282B;

	color:white;
	font-family: Mustica;
	font-size: 22px;
	letter-spacing: 2px;

	padding: 16px;
	cursor: pointer;
}
.btn-cancella{
	background-color:#FEED00;
	color: #000;
}