/* FONT */
@font-face{
	font-family: Mont;
	src: url(../font/mont/Mont-HeavyDEMO.otf);
}

@font-face{
	font-family: Mustica;
	src: url(../font/mustica/MusticaPro-SemiBold.otf);
}


/* PAGINA */
body{
	background-color: lightgrey;
	font-family: Mustica;
	
	display: grid;
	gap: 12px;
	
	margin: 0px;
}

figure{
	display: flex;
	margin: 0px;
}
figure > a{
	display: flex;
}

.titolo{
	color: #C4282B;
	font-family: Mont;
	font-size: 58px;
    text-align: center;

	margin: 0px;
}


/* Intestazione e Footer */
header, footer{
	background-color: white;
	border-radius: 10px;
	box-shadow: inset 0 0 6px 0 orangered;

	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	padding: 5px;
}

.logo{
	width: 100px;
}
.logo_scritta{
	width: 180px;
}

/* Intestazione */
.header-account{
	background-color: #FFEB00;
	border-radius: 18px;

	font-family: Mustica;
	text-align: center;

	display: grid;
	justify-self: right;
	width: 78px;
	padding: 6px;
	margin-right: 8px;
}
.account-login{
	color: #000;
	text-decoration: none;
}
.account-login > i{
	background-color: #fff;
	border-radius: 50%;
	font-size: 52px;
}
.account-login > p{
	margin: 0px;
}


/* Contenuto */
main{
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 12px;
	padding: 12px;
}

#info{
	background-color: white;
	border: 3px solid #C4282B;
	border-radius: 10px;

	font-size: 18px;
	text-align: justify;

	padding: 10px;
}
#info > h3{
	font-size: 26px;
	margin: 8px;
}
#info > p{
	line-height: 28px;
	padding: 5px;
	margin: 0;
}


#cont-generic{
	display: grid;
	gap: 26px;
}

.cont-badge{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}
.livelli, .badge{
	background-color: #FEF898;
	border-radius: 10px;
	box-shadow: 0px 5px 10px 2px gray;

	text-align: center;

	display: grid;
	align-items: center;
	padding: 8px;

	transition: 1s;
}
.livelli:hover, .badge:hover{
	box-shadow: 0px 5px 10px 2px #1D70B7;
}

.livelli{
	font-family: Mont;
	font-size: 20px;

	grid-template-columns: 1fr 1.2fr;
	width: 260px;
}
.livelli > img{
	justify-self: center;
	width: 64%;
}

.badge{
	justify-items: center;
	width: 180px;
}
.imgB{
	width: 58%;
	padding: 5px;
}


/* Footer */
#cont-social{
	text-align: center;
	padding: 5px;
}
#cont-social > p{
	font-size: 20px;
}
.social{
	font-size: 34px;

	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
}
.social > a{
	color: #1D70B7;
}


/* Media Query */
@media screen and (max-width: 1023px) {
	.logo{
		width: 80px;
	}
	.logo_scritta{
		width: 140px;
	}

	.titolo{
		font-size: 42px;
	}

	.header-account{
		border-radius: 14px;
		font-size: 12px;
		width: 56px;
	}
	.account-login > i{
		font-size: 36px;
	}

	main{
		grid-template-columns: auto;
	}
}

@media screen and (max-width: 767px) {
	.logo{
		width: 60px;
	}
	.logo_scritta{
		width: 100px;
	}

	.titolo{
		font-size: 22px;
	}

	.header-account{
		border-radius: 12px;
		font-size: 10px;
		width: 46px;
	}
	.account-login > i{
		font-size: 30px;
	}

	.livelli, .badge{
		width: auto;
		margin: 0 10px;
	}
}