footer{
    #cont-social{
        text-align: center;
        padding: 5px;

        p{
            font-size: 20px;
        }

        .social{
            font-size: 34px;
        
            display: flex;
            justify-content: space-evenly;
            margin-top: 5px;
        
            a{
                color: $thirthColor;
            }
        }
    }
    
    figure:last-child{
	    justify-content: right;
    }
}

/* Media Query */
@media screen and (max-width: 1023px) {
    footer{
        #cont-social{
            .p{
                font-size: 18px;
            }

            .social{
                font-size: 30px;
            }
        }
    } 
}

@media screen and (max-width: 767px) {
	footer{
		grid-template-columns: none;
		grid-template-areas: 
			"img1 social"
			"img2 social";
		gap: 5px;

        figure:first-child{
            grid-area: img1;
        }

        figure:last-child{
            grid-area: img2;
            justify-content: left;
        }

        #cont-social{
            grid-area: social;
    
            p{
                font-size: 16px;
            }
    
            .social{
                font-size: 26px;
            }
        }
	}
}