@font-face{
	font-family: 'Mont';
	src: url('../font/mont/Mont-HeavyDEMO.otf');
}

@font-face{
	font-family: 'Mont-light';
	src: url('../font/mont/Mont-ExtraLightDEMO.otf');
}

@font-face{
	font-family: 'Mustica';
	src: url('../font/mustica/MusticaPro-SemiBold.otf');
}

$primaryFont: 'Mont';
$secondaryFont: 'Mustica';


$primaryColor: #C4282B;
$secondaryColor: #FFEB00;
$secondaryColor-light: #FEF898;
$thirthColor: #1D70B7;
$backgroundColor: lightgray;
$shadeColor: orangered;
$whiteColor: #fff;
$grayColor: gray;
$grayColor-dark: gray;