span.tpsi{
	background-image: linear-gradient(to right, #2cbbfb, #c3ecfe);
}
div.tpsi{
	box-shadow: inset 0 0 30px 2px #2cbbfb;
}

span.sistemi{
	background-image: linear-gradient(to right, #4169e1, #b8c7f4);
}
div.sistemi{
	box-shadow: inset 0 0 30px 2px #4169e1;
}

span.informatica{
	background-image: linear-gradient(to right, #ff7f50, #ffdacc);
}
div.informatica{
	box-shadow: inset 0 0 30px 2px #ff7f50;
}