@font-face{
	font-family: 'Mont';
	src: url('../media/font/mont/Mont-HeavyDEMO.otf');
	font-display: swap;
}

/*@font-face{
	font-family: 'Mont-light';
	src: url('../media/font/mont/Mont-ExtraLightDEMO.otf');
	font-display: swap;
}*/

@font-face{
	font-family: 'Mustica';
	src: url('../media/font/mustica/MusticaPro-SemiBold.otf');
	font-display: swap;
}

$primaryFont: 'Mont';
$secondaryFont: 'Mustica';


$primaryColor: #C4282B;
$secondaryColor: #FFEB00;
$secondaryColor-light: #FEF898;
$thirthColor: #1D70B7;
$backgroundColor: lightgray;
$whiteColor: #fff;
$grayColor: gray;
$grayColor-dark: #444;