.header-account{
	background-color: $secondaryColor;
    box-sizing: border-box;
	border-radius: 14px;

	font-family: $secondaryFont;
	text-align: center;

	display: grid;
	justify-self: right;
    align-items: center;
	width: 90px;
    height: 90px;
	padding: 0 6px;

    .account-login{
        color: #000;
        text-decoration: none;

        i{
            background-color: $whiteColor;
            border-radius: 50%;
            font-size: 52px;
        }

        p{
            margin: 0px;
        }
    }
}

/* Media Query */
@media screen and (max-width: 1023px) {
	.header-account{
        border-radius: 12px;
		font-size: 12px;
		width: 70px;
        height: 70px;

        .account-login{
            i{
                font-size: 36px;
            }
        }
	}
	
}

@media screen and (max-width: 767px) {
	.header-account{
        border-radius: 10px;
		font-size: 10px;
		width: 50px;
        height: 50px;

        .account-login{
            i{
                font-size: 28px;
            }
        }
	}
}