.header-account{
	background-color: $secondaryColor;
	border-radius: 14px;

	font-family: $secondaryFont;
	text-align: center;

	display: grid;
	justify-self: right;
	width: 78px;
	padding: 6px;
	margin-right: 8px;

    .account-login{
        color: #000;
        text-decoration: none;

        i{
            background-color: $whiteColor;
            border-radius: 50%;
            font-size: 52px;
        }

        p{
            margin: 0px;
        }
    }
}

/* Media Query */
@media screen and (max-width: 1023px) {
	.header-account{
		border-radius: 14px;
		font-size: 12px;
		width: 56px;

        .account-login{
            i{
                font-size: 36px;
            }
        }
	}
	
}

@media screen and (max-width: 767px) {
	.header-account{
		border-radius: 12px;
		font-size: 10px;
		width: 40px;
        margin-right: 5px;

        .account-login{
            i{
                font-size: 28px;
            }
        }
	}
}