@font-face {
  font-family: "Mont";
  src: url("../media/font/mont/Mont-HeavyDEMO.otf");
  font-display: swap;
}
/*@font-face{
	font-family: 'Mont-light';
	src: url('../media/font/mont/Mont-ExtraLightDEMO.otf');
	font-display: swap;
}*/
@font-face {
  font-family: "Mustica";
  src: url("../media/font/mustica/MusticaPro-SemiBold.otf");
  font-display: swap;
}
/* Layout */
::-moz-selection {
  background-color: #1D70B7;
  color: #fff;
}
::selection {
  background-color: #1D70B7;
  color: #fff;
}

::-moz-selection {
  background-color: #1D70B7;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFDEB;
  border-radius: 20px;
}

figure {
  display: flex;
  margin: 0px;
}
figure a {
  display: flex;
}

.titolo {
  color: #C4282B;
  font-family: "Mont";
  font-size: 58px;
  text-align: center;
  margin: 0px;
}

header, footer {
  background-color: #fffdeb;
  /*background-color: $whiteColor;
  box-shadow: 0 0 10px 0 $shadeColor;*/
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 10px;
}

.logo {
  border-radius: 10px;
  width: 90px;
}

.logo_scritta {
  width: 180px;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .logo {
    width: 70px;
  }
  .logo_scritta {
    width: 140px;
  }
  .titolo {
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    border-radius: 8px;
    width: 50px;
  }
  .logo_scritta {
    width: 100px;
  }
  .titolo {
    font-size: 28px;
    line-height: 28px;
  }
}
.header-account {
  position: relative;
  background-color: #FFEB00;
  box-sizing: border-box;
  border-radius: 14px;
  font-family: "Mustica";
  text-align: center;
  display: grid;
  justify-self: right;
  align-items: center;
  width: 90px;
  height: 90px;
  transition: 0.6s ease-in-out;
}
.header-account .account-icon {
  background-color: #FFEB00;
  color: #000;
  text-decoration: none;
  z-index: 2;
}
.header-account .account-icon i {
  background-color: #fff;
  border-radius: 50%;
  font-size: 52px;
}
.header-account .account-icon p {
  margin: 0px;
}
.header-account .account-options {
  position: absolute;
  background-color: #FEF898;
  box-shadow: inset 0 0 6px 2px #FFEB00;
  box-sizing: border-box;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  text-align: left;
  width: 90px;
  padding: 0 4px;
  transform: translateY(0);
  transition: 0.6s ease-in-out;
}
.header-account .account-options p {
  border-radius: 4px;
  padding: 2px 6px;
  margin: 6px 0;
  cursor: pointer;
}
.header-account .account-options p i {
  margin-right: 2px;
}
.header-account .account-options p:hover {
  background-color: #fff;
  color: #C4282B;
}
.header-account .account-options a {
  color: #000;
  text-decoration: none;
}

.menu:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.menu:hover .account-options {
  display: block;
  transform: translateY(78px);
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .header-account {
    border-radius: 12px;
    font-size: 12px;
    width: 70px;
    height: 70px;
  }
  .header-account .account-icon i {
    font-size: 36px;
  }
  .header-account .account-options {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 70px;
  }
  .header-account .account-options p {
    border-radius: 3px;
    padding: 2px 5px;
    margin: 5px 0;
  }
  .menu:hover .account-options {
    transform: translateY(58px);
  }
}
@media screen and (max-width: 767px) {
  .header-account {
    border-radius: 8px;
    font-size: 10px;
    width: 50px;
    height: 50px;
  }
  .header-account .account-icon i {
    font-size: 28px;
  }
  .header-account .account-options {
    box-shadow: inset 0 0 4px 1px #FFEB00;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 50px;
    padding: 0 2px;
  }
  .header-account .account-options p {
    border-radius: 2px;
    padding: 1px 4px;
    margin: 4px 0;
  }
  .menu:hover .account-options {
    transform: translateY(38px);
  }
}
footer {
  padding-top: 16px;
}
footer #cont-social {
  text-align: center;
  padding: 5px;
}
footer #cont-social p {
  font-size: 20px;
}
footer #cont-social .social {
  font-size: 34px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
footer #cont-social .social a {
  color: #1D70B7;
  min-width: 44px;
  transition: 0.5s;
}
footer #cont-social .social a:hover {
  scale: 1.2;
}
footer #cont-social small {
  font-size: 12px;
  letter-spacing: 0.5px;
}
footer figure:last-child {
  justify-content: right;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  footer #cont-social .p {
    font-size: 18px;
  }
  footer #cont-social .social {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    grid-template-columns: none;
    grid-template-areas: "img1 social" "img2 social";
    gap: 5px;
  }
  footer figure:first-child {
    grid-area: img1;
  }
  footer figure:last-child {
    grid-area: img2;
    justify-content: left;
  }
  footer #cont-social {
    grid-area: social;
  }
  footer #cont-social p {
    font-size: 16px;
  }
  footer #cont-social .social {
    font-size: 26px;
  }
  footer #cont-social small {
    font-size: 10px;
  }
}
/* Pagine */
body {
  background-color: lightgray;
  font-family: "Mustica";
  display: grid;
  gap: 12px;
  margin: 0px;
}

main {
  display: grid;
  gap: 12px;
  padding: 12px;
}

#main {
  grid-template-columns: 1fr 2fr;
}

#info {
  background-color: #fff;
  border: 3px solid #C4282B;
  border-radius: 14px;
  font-size: 18px;
  text-align: justify;
  padding: 10px;
}
#info h3 {
  font-size: 26px;
  margin: 8px;
}
#info p {
  line-height: 28px;
  padding: 5px;
  margin: 0;
}
#info p .icon-margin {
  margin-left: 8px;
}

#cont-generic {
  display: grid;
  gap: 26px;
}
#cont-generic .cont-badge {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
#cont-generic .cont-badge .livelli, #cont-generic .cont-badge .badge {
  background-color: #FEF898;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px gray;
  text-align: center;
  display: grid;
  align-items: center;
  padding: 8px;
  transition: 1s;
}
#cont-generic .cont-badge .livelli:hover, #cont-generic .cont-badge .badge:hover {
  box-shadow: 0px 5px 10px 2px #C4282B;
}
#cont-generic .cont-badge .livelli {
  font-family: "Mont";
  font-size: 20px;
  grid-template-columns: 1fr 1.2fr;
  width: 260px;
  min-height: 120px;
}
#cont-generic .cont-badge .livelli img {
  justify-self: center;
  width: 64%;
}
#cont-generic .cont-badge .badge {
  justify-items: center;
  width: 180px;
}
#cont-generic .cont-badge .badge .imgB {
  width: 58%;
  padding: 5px;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  #main {
    grid-template-columns: auto;
  }
  #cont-generic {
    background-color: #fff;
    padding: 32px 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  #info {
    font-size: 16px;
  }
  #info h3 {
    font-size: 20px;
    margin: 0px;
  }
  #info p {
    line-height: 22px;
  }
  #cont-generic .cont-badge .livelli, #cont-generic .cont-badge .badge {
    width: auto;
  }
  #cont-generic .cont-badge .livelli {
    font-size: 22px;
    min-height: 142px;
    margin: 0 20px;
  }
  #cont-generic .cont-badge .badge {
    margin: 0 50px;
  }
  #cont-generic .cont-badge .badge .imgB {
    width: 44%;
  }
}
@media screen and (max-width: 374px) {
  #cont-generic .cont-badge .livelli {
    font-size: 20px;
    min-height: 120px;
  }
}
.btn-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #000;
  font-size: 40px;
}

.error {
  font-size: 14px;
  text-align: center;
  margin: 10px 0px;
  margin-bottom: -20px;
}

.persona {
  height: 100%;
}

.cont-data {
  display: grid;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 8px 8px 10px 4px gray;
  width: 520px;
  padding: 12px;
}
.form fieldset {
  border: 0px;
  display: grid;
  gap: 14px;
}
.form fieldset p {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
}

.cont-title {
  background-image: url(../img/logo.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.cont-title h1 {
  font-size: 40px;
}

.cont-inserisci {
  color: lightgray;
  display: grid;
  align-items: center;
}
.cont-inserisci i {
  position: absolute;
  font-size: 30px;
  margin-left: 14px;
}
.cont-inserisci #icon_lock {
  cursor: pointer;
}

.inserisci {
  border: 2px solid lightgray;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 24px;
  height: 50px;
  padding: 8px;
}
.inserisci:hover {
  border-color: darkgoldenrod;
}
.inserisci:focus {
  outline-color: gold;
}

.in_data {
  height: 62px;
  padding-left: 54px;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .form {
    width: 480px;
  }
  .form fieldset p {
    font-size: 16px;
  }
  .cont-title h1 {
    font-size: 36px;
  }
  .cont-inserisci i {
    font-size: 28px;
  }
  .inserisci {
    font-size: 20px;
    height: 46px;
  }
  .in_data {
    height: 58px;
  }
}
@media screen and (max-width: 767px) {
  .form {
    width: 280px;
    padding: 8px;
  }
  .form fieldset {
    gap: 8px;
    padding: 4px;
  }
  .form fieldset p {
    font-size: 14px;
  }
  .cont-title h1 {
    font-size: 24px;
  }
  .cont-inserisci i {
    font-size: 28px;
    margin-left: 8px;
  }
  .inserisci {
    font-size: 18px;
    height: 42px;
    padding: 4px;
  }
  .in_data {
    height: 50px;
    padding-left: 42px;
  }
}
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cont-signup {
  padding: 20px;
  margin-top: 30px;
}

#signup {
  font-size: 20px;
  display: grid;
  gap: 20px;
}

.cont-inserisci label {
  color: #000;
  padding: 8px;
}

.caselle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  padding: 4px;
}
.caselle .radio input[type=radio] {
  opacity: 0;
  position: absolute;
}
.caselle .radio input[type=radio]:checked + label i {
  color: darkgoldenrod;
}
.caselle .radio label {
  cursor: pointer;
}
.caselle .radio label i {
  color: gray;
  margin-right: 5px;
}

.in_classe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.in_classe input {
  width: 108px;
}

.select {
  background: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  min-width: 62px;
  z-index: 2;
}

.cont-select {
  position: relative;
  grid-template-columns: auto !important;
}
.cont-select i {
  color: #000;
  font-size: 22px;
  right: 12px;
  z-index: 1;
}

.cont-select-class {
  border: 2px dashed #FFEB00;
  color: #000;
  display: grid;
  gap: 8px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
}
.cont-select-class div {
  align-items: center;
  cursor: move;
}
.cont-select-class div i {
  font-size: 20px;
  justify-self: right;
}

hr {
  border: 0px;
  border-top: 4px dotted #C4282B;
  margin: 20px 0px;
}

@media screen and (max-width: 1023px) {
  #signup {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  #signup {
    font-size: 16px;
    gap: 10px;
  }
}
.btn-primary {
  background-color: #C4282B;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  font-family: "Mustica";
  font-size: 22px;
  letter-spacing: 2px;
  padding: 16px;
  cursor: pointer;
  transition: 0.6s;
}
.btn-primary:hover {
  background-color: rgba(196, 40, 43, 0.7);
  box-shadow: inset 0 0 14px 4px #C4282B;
}

.btn-secondary {
  background-color: #FFEB00;
  color: #000;
}
.btn-secondary:hover {
  background-color: #FEF898;
  box-shadow: inset 0 0 14px 4px #FFEB00;
}

/* Login e Signup */
.cont-button {
  display: grid;
  grid-template-areas: "primo primo" "secondo terzo";
  grid-auto-columns: 1fr;
  gap: 10px;
}
.cont-button .btn-accedi {
  grid-area: primo;
  font-size: 26px;
  letter-spacing: 4px;
  padding: 18px;
}
.cont-button .btn-pwd {
  grid-area: secondo;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px;
}
.cont-button .btn-pwd:hover {
  box-shadow: none;
  text-decoration: underline;
}
.cont-button .btn-registrati {
  grid-area: terzo;
  text-align: center;
  text-decoration: none;
  padding: 18px;
}

/* Popup */
.btn-close {
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 5px !important;
}

.btn-modifica {
  grid-area: primo;
  letter-spacing: 4px;
  margin-top: 10px;
}

.btn-elimina {
  grid-area: terzo;
  background-color: #1D70B7;
}
.btn-elimina:hover {
  background-color: rgba(29, 112, 183, 0.7);
  box-shadow: inset 0 0 14px 4px #1D70B7;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .btn-primary {
    font-size: 18px;
    padding: 14px;
  }
  .cont-button .btn-accedi {
    font-size: 22px;
    padding: 16px;
  }
  .cont-button .btn-pwd {
    font-size: 14px;
    padding: 10px;
  }
  .cont-button .btn-registrati {
    padding: 16px;
  }
}
@media screen and (max-width: 767px) {
  .btn-primary {
    font-size: 16px;
    padding: 12px;
  }
  .cont-button {
    gap: 6px;
  }
  .cont-button .btn-accedi {
    font-size: 18px;
    padding: 12px;
  }
  .cont-button .btn-pwd {
    font-size: 12px;
    padding: 6px;
  }
  .cont-button .btn-registrati {
    padding: 12px;
  }
}
.cont-popup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  z-index: 5;
}

.form-badge {
  box-shadow: 8px 8px 10px 4px #444;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 12px 24px;
}
.form-badge h2 {
  font-size: 40px;
  margin: 2px 0;
}

.cont-alerts {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 8px 8px 10px 4px #444;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  padding: 20px;
}

.badge-popup {
  justify-self: center;
  width: 350px;
  z-index: 1;
}

/* Modifica badge */
.cont-modifyB {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 8px 8px 10px 4px #444;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1000px;
  padding: 10px;
}
.cont-modifyB form {
  box-shadow: none;
  padding: 12px;
}
.cont-modifyB form .cont-inserisci {
  grid-template-columns: 1fr 3fr;
}

/* Zoom/Info badge */
.info-badge {
  font-size: 20px;
  display: grid;
  gap: 20px;
  padding: 24px 36px;
}
.info-badge h2 {
  font-size: 36px;
}
.info-badge p {
  font-family: "Mont";
}
.info-badge input {
  font-size: 16px;
}
.info-badge .info-badge-desc {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6px;
  margin-bottom: 0px;
}

.descri {
  font-family: "Mustica";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Media Query */
@media screen and (max-width: 1439px) {
  .form-badge {
    gap: 2px;
    padding: 12px;
  }
  .cont-modifyB form {
    gap: 10px;
    width: auto;
    padding: 4px;
  }
}
@media screen and (max-width: 1023px) {
  .form-badge {
    font-size: 16px;
    width: 380px;
  }
  .form-badge h2 {
    font-size: 30px;
  }
  .badge-popup {
    width: 250px;
  }
  .cont-modifyB {
    grid-template-columns: 0.6fr 1fr;
    padding: 4px;
  }
  .info-badge {
    font-size: 18px;
    padding: 0px 12px;
  }
  .info-badge h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .form-badge {
    font-size: 14px;
    width: 350px;
  }
  .form-badge h2 {
    font-size: 26px;
  }
  .badge-popup {
    position: absolute;
    opacity: 16%;
    width: 250px;
  }
  input, textarea {
    background: none;
    z-index: 2;
  }
  .cont-modifyB {
    grid-template-columns: 1fr;
  }
  .cont-modifyB form .cont-inserisci {
    grid-template-columns: 1fr 2fr;
  }
  .info-badge {
    font-size: 14px;
    gap: 10px;
    padding: 5px;
  }
  .info-badge .info-badge-img {
    width: 120px;
  }
  .info-badge h2 {
    font-size: 28px;
  }
  .info-badge input {
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .btn-icon {
    font-size: 38px;
  }
}
@media screen and (max-width: 767px) {
  .btn-icon {
    font-size: 28px;
  }
}
main h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.sottotitolo {
  font-family: "Mont";
  font-size: 26px;
}

/* Colore materie */
span.tpsi {
  background-image: linear-gradient(to right, #2cbbfb, #c3ecfe);
}

div.tpsi {
  background: linear-gradient(to bottom right, #2cbbfb, #c3ecfe, white, white, #c3ecfe, #2cbbfb);
}

span.sistemi {
  background-image: linear-gradient(to right, #4169e1, #b8c7f4);
}

div.sistemi {
  background: linear-gradient(to bottom right, #4169e1, #b8c7f4, white, white, #b8c7f4, #4169e1);
}

span.informatica {
  background-image: linear-gradient(to right, #ff7f50, #ffdacc);
}

div.informatica {
  background: linear-gradient(to bottom right, #ff7f50, #ffdacc, white, white, #ffdacc, #ff7f50);
}

span.altro {
  background-image: linear-gradient(to right, gray, lightgray);
}

div.altro {
  background: linear-gradient(to bottom right, gray, lightgray, white, white, lightgray, gray);
}

#registro {
  background-color: #FEF898;
  border-radius: 10px;
  display: grid;
  gap: 12px;
  padding: 12px;
}

.tabella {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}
.tabella .texture {
  background-color: #fff;
  border: 3px solid #C4282B;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  padding: 6px;
}
.tabella .tab-titoli {
  font-family: "Mont";
  text-align: center;
  margin: 0px;
}
.tabella .classe {
  font-size: 40px;
  justify-content: space-evenly;
}
.tabella .classe p {
  margin: 0px;
}
.tabella .cont-materie {
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  padding: 16px;
}
.tabella .cont-materie .materia {
  background-color: #fff;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 1px gray;
  font-family: "Mustica";
  font-size: 22px;
  display: grid;
  gap: 6px;
  width: 210px;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}
.tabella .cont-materie .materia .mat-color {
  border-radius: 10px;
  height: 14px;
}
.tabella .cont-materie .materia p {
  margin: 0px;
}
.tabella .cont-materie .materia:hover {
  box-shadow: 0 4px 10px 1px #C4282B;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .tabella .cont-materie {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .tabella {
    grid-template-columns: 1fr 2fr;
  }
  .tabella .tab-titoli {
    font-size: 12px;
  }
  .tabella .classe {
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .tabella .cont-materie .materia {
    font-size: 18px;
    width: 170px;
  }
}
@media screen and (max-width: 374px) {
  .tabella .cont-materie .materia {
    font-size: 14px;
    width: 130px;
  }
}
.mater-inseg {
  flex-direction: column;
  gap: 12px;
  min-height: 100px;
}
.mater-inseg p {
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin: 0px;
}

.sez-badge {
  gap: 30px;
  padding: 8px;
}
.sez-badge .cont-badge-stud {
  width: 80px;
  padding: 10px;
  cursor: pointer;
}
.sez-badge .cont-badge-stud img {
  width: 100%;
  transition: 0.5s;
}
.sez-badge .cont-badge-stud img:hover {
  scale: 1.1;
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .mater-inseg p {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mater-inseg p {
    font-size: 18px;
    line-height: 22px;
  }
  .mater-inseg small {
    font-size: 10px;
  }
  .sez-badge .cont-badge-stud {
    width: 48px;
  }
}
.back {
  position: absolute;
  left: 30px;
  color: #000;
  font-size: 40px;
}

.elenco {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 12px;
}
.elenco .cont-badge-el {
  width: 48px;
  padding: 0px;
  cursor: pointer;
}
.elenco .cont-badge-el img {
  width: 100%;
  transition: 0.5s;
}
.elenco .cont-badge-el img:hover {
  scale: 1.1;
}

.cont-elenco {
  background-image: linear-gradient(to top, rgba(255, 235, 0, 0.6), transparent); /* $secondaryColor ma trasparente */
  border-bottom: 2px solid gray;
  align-items: center;
}
.cont-elenco .list-alunno {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr;
  gap: 8px;
}
.cont-elenco .cont-scroll {
  overflow-x: auto;
  margin-bottom: 2px;
}
.cont-elenco .cont-scroll .elenco {
  float: left;
}
.cont-elenco .cont-scroll::-webkit-scrollbar {
  height: 8px;
}
.cont-elenco .cont-scroll::-webkit-scrollbar-thumb {
  background-color: #FFFDEB;
  box-shadow: inset 0px 0 4px -1px gray;
  border-radius: 20px;
}
.cont-elenco:hover {
  background-image: linear-gradient(to top, #FFEB00, transparent);
}

/* Media Query */
@media screen and (max-width: 1023px) {
  .cont-elenco .list-alunno {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .back {
    left: 12px;
    font-size: 22px;
  }
  .elenco {
    gap: 10px;
  }
  .elenco .cont-badge-el {
    width: 42px;
  }
  .cont-elenco .list-alunno {
    font-size: 12px;
    grid-template-areas: "num nome nome" "num data data";
    row-gap: 0px;
  }
  .cont-elenco .list-alunno small {
    grid-area: num;
  }
  .cont-elenco .list-alunno p {
    grid-area: nome;
    margin: 4px 0;
  }
  .cont-elenco .list-alunno p:last-child {
    grid-area: data;
  }
}
/* Media Query */
@media screen and (max-width: 767px) {
  main h2, .elenco h2 {
    font-size: 16px;
  }
  .sottotitolo {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */