main{
    display: grid;
    gap: 12px;
    padding: 12px;
}

#main{
    grid-template-columns:1fr 2fr;
}

#info{
    background-color: $whiteColor;
    border: 3px solid $primaryColor;
    border-radius: 14px;

    font-size: 18px;
    text-align: justify;

    padding: 10px;

    h3{
        font-size: 26px;
        margin: 8px;
    }

    p{
        line-height: 26px;
        padding: 5px;
        margin: 0;

        .icon-margin{
            margin-left: 8px;
        }
    }
}

#cont-generic{
    display: grid;
    gap: 26px;

    .cont-badge{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    
        .livelli, .badge{
            background-color: $secondaryColor-light;
            border-radius: 20px;
            box-shadow: 0px 5px 10px 2px $grayColor;
        
            text-align: center;
        
            display: grid;
            align-items: center;
            padding: 8px;
        
            transition: 1s;
        }
        .livelli:hover, .badge:hover{
            box-shadow: 0px 5px 10px 2px $primaryColor;
        }
        
        .livelli{
            font-family: $primaryFont;
            font-size: 20px;
        
            grid-template-columns: 1fr 1.2fr;
            width: 260px;
            min-height: 120px;
        
            img{
                justify-self: center;
                width: 64%;
            }
        }
        
        .badge{
            justify-items: center;
            width: 180px;
        
            .imgB{
                width: 58%;
                padding: 5px;
            }
        }
    }
}

/* Media Query */
@media screen and (max-width: 1023px) {
	#main{
		grid-template-columns: auto;
	}

    #cont-generic{
        background-color: $whiteColor;
        padding: 32px 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
	#info{
		font-size: 14px;

        h3{
            font-size: 18px;
            margin: 0px;
        }

        p{
            line-height: 22px;
        }
	}

    #cont-generic{
        .cont-badge{
            .livelli, .badge{
                width: auto;
            }
        
            .livelli{
                font-size: 22px;
                min-height: 142px;
                margin: 0 20px;
            }
        
            .badge{
                margin: 0 50px;
        
                .imgB{
                    width: 44%;
                }
            }
        }
    }
}

@media screen and (max-width: 374px) {
    #cont-generic{
        .cont-badge{
            .livelli{
                font-size: 20px;
                min-height: 120px;
            }
        }
    }
}