.cont-popup{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	background-color: rgba(0, 0, 0, 0.5);

	display: none;
	justify-content: space-evenly;
	align-items: center;
	width: auto;
	z-index: 5;
}

.form-badge{
    box-shadow: 8px 8px 10px 4px $grayColor-dark;
    font-size: 18px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 12px 24px;

    h2{
        font-size: 40px;
        margin: 2px 0;
    }
}

.cont-alerts{
	background-color: $whiteColor;
	border-radius: 14px;
	box-shadow: 8px 8px 10px 4px $grayColor-dark;

	font-size: 20px;

	display: grid;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 400px;
	padding: 20px;
}

/* Aggiungi badge */
#add-badge{
	img{
        width: 400px;
    }
}

/* Modifica badge */
.cont-modifyB{
	background-color: $whiteColor;
	border-radius: 14px;
	box-shadow: 8px 8px 10px 4px $grayColor-dark;

	display: grid;
	grid-template-columns: 0.8fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: 1000px;
	padding: 10px;

    img{
        justify-self: center;
        width: 300px;
    }

    form{
        box-shadow: none;
        padding: 12px;
    
        .cont-inserisci{
            grid-template-columns: 1fr 3fr;
        }
    }
}

/* Zoom/Info badge */
.info-badge{
	font-size: 20px;
	display: grid;
	padding: 24px 36px;

    h2{
        font-size: 30px;
    }

    p{
        font-family: $primaryFont;
    }

    input{
        font-size: 16px;
    }

    .info-badge-desc{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 6px;
        margin-bottom: 0px;
    }
}

.descri{
    font-family: $secondaryFont;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Media Query */
@media screen and (max-width: 1439px) {
    .form-badge{
        gap: 2px;
        padding: 12px;
    }

	.cont-modifyB{
        form{
            gap: 10px;
            width: auto;
            padding: 4px;
        }
    }
}


@media screen and (max-width: 1023px) {
    .form-badge{
        font-size: 16px;
        width: 380px;

        h2{
            font-size: 30px;
        }
    }

    #add-badge{
        img{
            width: 250px;
        }
    }

	.cont-modifyB{
        grid-template-columns: 0.6fr 1fr;
        padding: 4px;

        img{
            width: 250px;
        }
    }

	.info-badge{
		font-size: 18px;
		padding: 0px 12px;
	}
}

@media screen and (max-width: 767px) {
    .form-badge{
        font-size: 14px;
        width: 350px;

        h2{
            font-size: 26px;
        }
    }

    #add-badge{
        img{
            position: absolute;
            opacity: 12%;
        }
    }

    .cont-modifyB{
        grid-template-columns: 1fr;

        img{
            position: absolute;
            opacity: 12%;
        }

        form{
            .cont-inserisci{
                grid-template-columns: 1fr 2fr;
            }
        }
    }

	.info-badge{
		font-size: 14px;
		padding: 0px;

        input{
            font-size: 14px;
        }
	}
}