.btn-icon{
	position: absolute;
	top: 14px;
	right: 14px;

	color: #000;
}

.error{
	font-size: 16px;
	text-align: center;
	
    margin: 10px 0px;
    margin-bottom: -20px;
}

@import "account/login";
@import "account/signup";

@import "botton";
@import "popup";