.persona{
	height: 100%;
}

.cont-data{
	display: grid;
	justify-content: center;
	align-items: center;
}

.form{
	background-color: $whiteColor;
	border-radius: 10px;
	box-shadow: 8px 8px 10px 4px $grayColor;

	width: 520px;
	padding: 12px;

    fieldset{
        border: 0px;
    
        display: grid;
        gap: 14px;
    
        p{
            text-align: center;
            font-size: 18px;
        
            margin-top: -10px;
        }
    }
}

.cont-title{
	background-image: url(../img/logo.webp);
	background-size: contain;
	background-repeat: no-repeat;

	h1{
		font-size: 40px;
	}
}

.cont-inserisci{
	color: $backgroundColor;

	display: grid;
	align-items: center;

	i{
		position: absolute;
		font-size: 30px;
		margin-left: 14px;
	}
    #icon_lock{
        cursor: pointer;
    }
}

.inserisci{
	border:2px solid $backgroundColor;
	border-radius: 10px;
	box-sizing: border-box;

	font-size: 24px;

	height: 50px;
	padding: 8px;

	&:hover{
		border-color: darkgoldenrod;
	}
	&:focus{
		outline-color: gold;
	}
}
.in_data{
	height: 62px;
	padding-left: 54px;
}

/* Media Query */
@media screen and (max-width: 1023px) {
	.form{
		width: 480px;

		fieldset{
			p{
				font-size: 16px;
			}
		}
	}

	.cont-title{
		h1{
			font-size: 36px;
		}
	}

	.cont-inserisci{
		i{
			font-size: 28px;
		}
	}

    .inserisci{
		font-size: 20px;
		height: 46px;
	}
	.in_data{
		height: 58px;
	}
}

@media screen and (max-width: 767px) {
	.form{
		width: 280px;
		padding: 8px;

		fieldset{
			gap: 8px;
			padding: 4px;

			p{
				font-size: 14px;
			}
		}
	}

	.cont-title{
		h1{
			font-size: 24px;
		}
	}

	.cont-inserisci{
		i{
			font-size: 28px;
			margin-left: 8px;
		}
	}

    .inserisci{
		font-size: 18px;
		height: 42px;
		padding: 4px;
	}
	.in_data{
		height: 50px;
		padding-left: 42px;
	}
}