.persona{
	height: 100%;
}

.cont-data{
	display: grid;
	justify-content: center;
	align-items: center;
}

.form{
	background-color: $whiteColor;
	border-radius: 10px;
	box-shadow: 8px 8px 10px 4px $grayColor;

	width: 520px;
	padding: 12px;

    fieldset{
        border: 0px;
    
        display: grid;
        gap: 14px;
    
        p{
            text-align: center;
            font-size: 18px;
        
            margin-top: -10px;
        }
    }
}

.cont-title{
	text-align: center;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;

	img{
		width: 60px;
	}

	h1{
		font-size: 40px;
		margin-left: -60px;
	}
}

.cont-inserisci{
	color: $backgroundColor;

	display: grid;
	align-items: center;

	i{
		position: absolute;
		font-size: 30px;
		margin-left: 14px;
	}
    #icon_lock{
        cursor: pointer;
    }
}

.inserisci{
	border:2px solid $backgroundColor;
	border-radius: 10px;
	box-sizing: border-box;

	font-size: 24px;

	height: 50px;
	padding: 8px;

	&:hover{
		border-color: darkgoldenrod;
	}
	&:focus{
		outline-color: gold;
	}
}
.in_data{
	height: 62px;
	padding-left: 54px;
}

/* Media Query */
@media screen and (max-width: 1023px) {
    .inserisci{
		font-size: 20px;
		height: 46px;
	}
}

@media screen and (max-width: 767px) {
    .inserisci{
		font-size: 18px;
		height: 42px;
	}
}