.back{
	position: absolute;
	left: 30px;
	
	color: #000;
	font-size: 40px;
}

.elenco{
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 4px 12px;

    .cont-badge-el{
        width: 48px;
        padding: 0px;
        cursor: pointer;

        img{
            width: 100%;
			transition: 0.5s;

			&:hover{
				scale: 1.1;
			}
        }
    }
}

.cont-elenco{
	background-image: linear-gradient(to top, rgba(255, 235, 0, 0.6), transparent); /* $secondaryColor ma trasparente */
	border-bottom: 2px solid $grayColor;

    .list-alunno{
        display: grid;
        grid-template-columns: 0.3fr 2fr 1fr;
        gap: 8px;
    }

	&:hover{
		background-image: linear-gradient(to top, $secondaryColor, transparent);
	}
}

/* Media Query */
@media screen and (max-width: 1023px) {
	.cont-elenco{
		.list-alunno{
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 767px) {
	.back{
		left: 12px;
		font-size: 22px;
	}

	.elenco{
		gap: 14px;

		.cont-badge-el{
			width: 42px;
		}
	}

	.cont-elenco{
		.list-alunno{
			font-size: 12px;
			grid-template-areas:
				'num nome nome'
				'num data data';
			row-gap: 0px;
	
			small{
				grid-area: num;
			}
	
			p{
				grid-area: nome;
				margin: 4px 0;
			}
	
			p:last-child{
				grid-area: data;
			}
		}
	}
}