.mater-inseg{
	flex-direction: column;
	gap: 12px;
    min-height: 100px;

    p{
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    
        margin: 0px;
    }
}

.sez-badge{
	gap: 30px;
	padding: 8px;

    .cont-badge-stud{
        width: 80px;
        padding: 10px;
        cursor: pointer;
    
        img{
            width: 100%;
            transition: 0.5s;

            &:hover{
                scale: 1.1;
            }
        }
    }
}

/* Media Query */
@media screen and (max-width: 1023px) {
	.mater-inseg{
        p{
            font-size: 28px;
            line-height: 32px;
        }
    }
}

@media screen and (max-width: 767px) {
    .mater-inseg{
        p{
            font-size: 18px;
		    line-height: 22px;
        }

        small{
            font-size: 10px;
        }
    }

    .sez-badge{
        .cont-badge-stud{
            width: 48px;
        }
    }
}